* {
  box-sizing: border-box;
}
body {
  background: white;
  font-family: "Avenir", Helvetica, Arial, sens-serif;
}
.container{
  width: auto;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 15px;
  background: #DCDCDC;
  color: white;
}


.profil{
display: block;
background: white;
width: 600px;
height: 445px;
margin-left: 160px;
}

.workone{
display: block;
background: white;
width: 900px;
height: 445px;
margin-left: 160px;
}
 .workonepic{
   width: 290px;
   margin-left: 5px;
   float: left;
   padding: 0px;
   margin-top: 5px;
}
.worktwopic{
  width: 290px;
  margin-left: 5px;
  float: left;
  padding: 0px;
  margin-top: 5px;
}
.workthreepic{
  width: 290px;
  margin-left: 5px;
  margin-right: 5px;
  float: left;
  padding: 0px;
  margin-top: 5px;
}
.worktwo{
display: block;
background: white;
width: 900px;
height: 1799px;
margin-left: 160px;
}

.workthree{
display: block;
background: white;
width: 900px;
height: 597px;
margin-left: 160px;
}

.workfourpic{
  width: 890px;
  margin-left: 5px;
  float: left;
  padding: 0px;
  margin-top: 5px;
}
.workfivepic{
 width: 890px;
 margin-left: 5px;
 float: left;
 padding: 0px;
 margin-top: 5px;
}
.worksixpic{
 width: 890px;
 margin-left: 5px;
 margin-right: 5px;
 float: left;
 padding: 0px;
 margin-top: 5px;
}

.worksevenpic{
  width: 440px;
  margin-left: 5px;
  float: left;
  padding: 0px;
  margin-top: 5px;
}
.workeightpic{
  width: 440px;
  margin-left: 5px;
  float: left;
  padding: 0px;
  margin-top: 5px;
}
.worklogo{
  display: inline-block;
  z-index: 1;
  position: absolute;
  background-color: red;
  width: 78px;
  height: 23px;
  margin-left: 0px;
}
.anchorlinks{
  display: inline-block;
  z-index: 2;
  position: absolute;
  color: red;
}

.aboutmelogo{
  display: inline-block;
  z-index: 1;
  position: absolute;
  background-color: red;
  width: 144px;
  height: 23px;
  margin-left: 300px;
}

img{
  width: 290px;
  margin-left: 300px;
  margin-right: 5px;
  float: right;
  padding: 0px;
}

.aboutme{
color: black;
width: 290px;
height: 0px;
float: left;
margin-top: 5px;
margin-right: 5px;
margin-left: 5px;
margin-bottom: 0px;
}

.workdescription{
  margin-left: 160px;
  background-color: white;
  width: 263px;
}
.workdescriptiontext{
color: black;
padding: 5px;

}
.header{
  text-align: right;
  color: white;
  margin-bottom: 0px;
}

.headercategory{
  text-align: right;
color: white;
margin-top: 0px;
margin-left: 0px;
}

.hielscherlogo {
  width: 160px;
  height: 23px;
  margin-top: 15px;
  background-color: red;
}
.hielscherlogo {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
}

p{
  padding-left: 25px
  color: white;
}

.links{
    color: red;
    text-decoration: none;
}

.worklogo{
  display: inline-block;
  z-index: 1;
  position: absolute;
  background-color: red;
  width: 78px;
  height: 23px;
  margin-left: 0px;
}

.contactlogo{
  display: block;
  z-index: 2;
  position: absolute;
  background-color: red;
  width: 111px;
  height: 23px;
  margin-left: 197px;
}
.sociallinks {
  margin-left: 160px;
  background-color: white;
  width: 189px;
  height: 95px;
}
.linkstext{
  padding: 5px;
  color: black;
  width: 197px;
  height: 116px;
  background-color: white;
}

.platzhalter23{
  height: 23px;
}
.platzhalter6{
  height: 6px;
}
.black{
  color: black;
}
.copyright{
  color: black;
  font-size: 14px;
  padding-left: 160px;
}
