* {
  box-sizing: border-box;
}
body {
  background: white;
  font-family: "Avenir", Helvetica, Arial, sens-serif;
}
.container{
  width: auto;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  background: #DCDCDC;
  color: white;
}


.profil{
display: block;
background: white;
width: 600px;
height: 445px;
margin-left: 160px;
}
.anchorlinks{
  display: inline-block;
  z-index: 2;
  position: absolute;
  color: red;
}

.aboutmelogo{
  display: inline-block;
  z-index: 1;
  position: absolute;
  background-color: red;
  width: 144px;
  height: 23px;
  margin-left: 300px;
}

img{
  width: 290px;
  margin-left: 300px;
  margin-right: 5px;
  float: right;
  padding: 0px;
}

.aboutme{
color: black;
width: 290px;
height: 0px;
float: left;
margin-top: 5px;
margin-right: 5px;
margin-left: 5px;
margin-bottom: 0px;

}
.header{
  text-align: right;
  color: white;
  margin-bottom: 0px;
}

.headercategory{
  text-align: right;
color: white;
margin-top: 0px;
margin-left: 0px;
}

.hielscherlogo {
  width: 160px;
  height: 23px;
  margin-top: 15px;
  background-color: red;
}
.hielscherlogo {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
}

p{
  padding-left: 25px
  color: white;
}



.sociallinks {
  padding-left: 25px;
}


/*.media {
  display: block;
  text-align: center;
}


.facebook {
  display: inline-block;
  width: 110px;
  height: 35px;
  margin-top: 15px;
  background-color: #3b5998;
}

.youtube {
  display: inline-block;
  width: 110px;
  height: 35px;
  margin-top: 15px;
  background-color: #c4302b;
}
.twitter {
  display: inline-block;
  width: 110px;
  height: 35px;
  margin-top: 15px;
  background-color: #00acee;
}*/
